h1 { 
    color: #333;
    font-size: 20px;
}

h2 {
    color: #666;
    font-size: 16px;
}

/*Fuente para todo el doc*/
body { 
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

/*Imagen*/
img { 
    width: 400px;
    height: 200px;
}

p { 
    color: #000;
    font-size: 16px;
}

li {
    color: #000;
    font-size: 16px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
/*No se que es border collapse*/


th, td {
    border:1px solid black;
    padding:  10px;
}
/*Estp no tengo nidea que es*/


td {
    border: 1px solid black;
    padding: 10px;
}

th { 
    color: white;
    font-size: 16px
}

/*link color and size*/
a { 
    color: blue;
    font-size: 16px;
}

thead { 
    background-color: #666;
}

tbody {
    background-color: #fff;
}

tbody td {
    color: #000;
    font-size: 16px;
}

tfoot {
    background-color: #ccc;
}


tfoot td {
    color: #000;
    font-size: 16px;
}

 caption {
    color: #000;
    font-size: 14px;
}